In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

In [5]:
df = pd.read_excel('http://servicotp.com.br/icatel/producao/producao.xlsx', 'Analitico')

In [6]:
pd.crosstab(df.Tipo, df.Dia , margins=True,  margins_name="Total")

Dia            1    2    5    6    7    8    9   12   13   14  15  Total
Tipo
Improdutivo   54   53   38   76   62   59   63   59   75   75   3    617
Limpeza      138   99  107  182  167  139   97  152  135  163   0   1379
Produtivo    273  214  277  366  324  235  267  378  340  308   0   2982
Total        465  366  422  624  553  433  427  589  550  546   3   4978

In [7]:
px= pd.crosstab(df.Tecnico,  df.Dia , margins=True,  margins_name="Total")

In [9]:
px.head()

Dia                 1   2   5   6   7   8   9  12  13  14  15  Total
Tecnico
Adair Pereira       3   0   3   5   0   0   1   5   3   3   0     23
Adao Gracioso       6   1  12   4  11   0   8  14   2   3   0     61
Aguinaldo Venancio  2  11   6  23   0   1   0   0   0   0   0     43
Alberto Santiago    8   9   5  12   8  12  10   8  11  10   0     93
Alexandre Silva     5   3   8  12  12   9   7   7   7   8   0     78

In [10]:
fig = px.scatter(df,
                x='Dia',
                y='Tipo',
                hover_name='Tecnico',
                title='Cereal ratings vs. sugars')
fig.show()

AttributeError: 'DataFrame' object has no attribute 'scatter'

In [ ]:
sales_by_product_line = (
    df.groupby(by=["Tipo"]).count()[["RE"]] 
)
fig_product_sales = px.bar(
    sales_by_product_line,
    x="RE",
    y=sales_by_product_line.index,
    orientation="h",
    title="<b>Sales by Product Line</b>",
    color_discrete_sequence=["#0083B8"] * len(sales_by_product_line),
    template="plotly_white",
)
fig_product_sales.update_layout(
    plot_bgcolor="rgba(0,0,0,0)",
    xaxis=(dict(showgrid=False))
)

In [ ]:
df.groupby(by=["Tipo"]).sum()[["RE"]].sort_values(by="Total")

In [ ]:
import pandas as pd
import numpy as np
import streamlit as st

chart_data = pd.DataFrame(np.random.randn(20, 3),columns=['a', 'b', 'c'])
st.line_chart(chart_data)

In [20]:
df.groupby(by=["Dia"]).count()[["Tipo"]].sort_values(by="Total")

KeyboardInterrupt

In [12]:
pd.crosstab(df.Tecnico, df.Dia , margins=True,  margins_name="Total")

Dia,1,2,5,6,7,8,9,12,13,14,15,Total
Tecnico,,,,,,,,,,,,
Adair Pereira,3,0,3,5,0,0,1,5,3,3,0,23
Adao Gracioso,6,1,12,4,11,0,8,14,2,3,0,61
Aguinaldo Venancio,2,11,6,23,0,1,0,0,0,0,0,43
Alberto Santiago,8,9,5,12,8,12,10,8,11,10,0,93
Alexandre Silva,5,3,8,12,12,9,7,7,7,8,0,78
...,...,...,...,...,...,...,...,...,...,...,...,...
Wanderley Silva,5,6,5,4,3,5,2,8,7,7,0,52
Wellington Souza,8,6,7,11,7,9,8,0,10,10,0,76
Wellington Vitor,7,0,2,10,11,6,4,4,5,1,0,50
Wilson Roberto,6,6,4,5,11,8,8,10,8,9,0,75
Total,465,366,422,624,553,433,427,589,550,546,3,4978